<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modern Catering</title>
  <link rel="icon" type="image/jpg" href="/static/img/img logo.jpg">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <div class="brand__name">Modern Catering</div>
    <nav>
      <ul class="nav__links">
        <li><a href="#about">About</a></li>
        <li><a href="#menu">Menu</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <div class="img__title">
    <img src="/static/img/main.jpg" alt="Main img">
    <div class="bottom_right">La Catering</div>
  </div>

  <!-- Introduction -->
  <section>
    <div id="about">
      <img src="/static/img/about.jpg" class="about__image" alt="About img">
      <div class="about__info">
        <h2>About Catering</h2>
        <h5>Functioning since 1989</h5>
        <p>The Catering was founded by Mark Smith. In lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use seasonal ingredients.</p>
      </div>
    </div>
  </section>

  <!-- Horizontal line -->
  <hr>

  <!-- Menu -->
  <section>
    <div id="menu">
      <div class="menu__items">
        <h1>Our Menu</h1>
        <br>
        
        <h4>Bread Basket</h4>
        <p>Assortment of fresh baked fruit breads and muffins 5.50</p>
        <br>
        
        <h4>Honey Cashew Granola with Fruits</h4>
        <p>Natural cereal of honey toasted oats, raisins, cashews and dates 7.25</p>
        <br>

        <h4>Belgian Waffle</h4>
        <p>Chocolate flavored batter with malted flour 7.80</p>
        <br>
        
        <h4>Scrambled eggs</h4>
        <p>Scrambled eggs, roasted green pepper, ginger and garlic, with green onions 7.70</p>
        <br>
        
        <h4>Blueberry Pancakes</h4>
        <p>With syrup, butter and fresh berries 8.50</p>
      </div>
      <img src="/static/img/menu.jpg" class="menu__image" alt="Menu img">
    </div>
  </section>

  <!-- Horizontal line -->
  <hr>

  <!-- Contact -->
  <section>
    <div id="contact">
      <h1>Contact</h1>
      <br>

      <p>We offer full-service catering for any event, large, medium or small. We understand your needs and we will cater the food to satisfy the biggest criteria of them all, both look and taste. Do not hesitate to contact us anytime.</p>

      <form action="/">
         <input class="input__info" type="text" placeholder="Name" required name="Name">
         <input class="input__info" type="number" placeholder="How many people" required name="People">
         <input class="input__info" type="datetime-local" placeholder="Date and time" required name="date" value="2021-10-05T12:30">
         <input class="input__info" type="text" placeholder="Message" required name="Message">
         <button class="button">Send</button>
      </form>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <p> Made by Naimish Chavda</p></footer>
</body>
</html>